
body{

       border-radius: 20px;
       margin: 0;
}

 

li{
       list-style: none; 
       margin-right: 20px;
       font-family: cursive;
       
       
}

.Menu{
       display: flex;
       justify-content: space-between;
       align-items: center;
    background-color:  pink;
    border-radius: 20px;
   
}

ul{
       display: flex;
       
}

h1{
       display: flex;
       font-size: 40px;     
       font-family: cursive;
       color: black;
       margin: 10px;
     
}

a{
       text-decoration: none ;
       color: black;
         font-size:  20px;
         transition: opacity 0.3 eaese-in-out;
}

a:hover{
       opacity: 0.2;
}

.Imagenes{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      

}
.bien{
       margin-top: 150px;
       font-size: 100px;
       color: rgb(228, 135, 150);
}
.p{
       text-align: center;
       font-size: 50px;
       font-family: cursive;
       color: rgb(228, 135, 150);
       margin: 10px;
}
.pren{
   display: flex;    
   justify-content: space-around;
   margin-top: 50px;
}
.image{
       margin-top: 100px;
}
.Titulo{
       display: flex;
       font-size: 50px;
       font-family: cursive;

        
       
}
.Parrafo{
       width: 50%;
       font-family: cursive;
       font-size: 20px;
}

.todo{
       display: flex;
       justify-content: space-around;

}
video{
       margin-top: 20px;
       width: 100%;
       height: 450px;
}

::placeholder{
       color: black;
}
 
.buscador input{
       padding: 3px;
       border-radius: 20px;
       

}
.buscador button{
       border-radius: 10px;
       padding: 3px 7px;
margin-right: 20px;
margin-top: 5px;
}

.red{
       background-color: pink;
       font-size: 30px;
       font-family: cursive;
       border-radius: 20px;
      
}
.noso{
       font-size: 20px;
       font-family: cursive;
}
.nosotros{
       font-size: 20px;
       font-family: cursive;

}
h2{
       text-align: center;
       font-size: 40px;
} 


h4{
       font-size: 20px;
       padding: 5px;
       font-family: cursive; 
       margin: 0;
         
   }
   .eso img{
       padding: 10px;
   }
   h5{
       font-size: 30px;
       padding: 5px;
       color:  rgb(228, 135, 150);
       font-family: cursive;
       margin: 3px;
   }




 




